<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>comment: </strong>
    <%= comment.body %>
</p>

<p>
    <%= link_to 'Destroy Comment',[comment.article,comment],method: :delete,data: { comfirm: 'are you sure?' } %>
    
</p>
